@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$primary: #2c3e50;
$secondary: #27ae60;
$tertiary: #4a9375;
$accents: #f1c40f;
$gray: #e9ecef;
$white: #fff;
$transition: .3s ease;
$textShadow: 0 0 2px $primary;
/********************************
Mixins
********************************/
@mixin flex($justify,$align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: wrap;
}
@mixin bgImg ($position,$size,$height){
    background-position: $position;
    background-size: $size;
    height: $height;
    background-repeat: no-repeat;
}
@mixin btn(){
    background: $accents;
    border: none;
    color: $primary;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: $transition;
    &:hover{
        cursor: pointer;
        background: $primary;
        color: $white;
    }
}
/********************************
Basic style
********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
}
a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}
ul{
    list-style: none;
}
.container{
    width:80%;
    margin: auto;
}
/********************************
topBar
********************************/
.topBar{
    background: $primary;
    padding: 5px 0;
    .container{
        @include flex(space-between, center,row);
        .logo{
            font-size: 2rem;
            color: $accents;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: $transition;
            &:hover{
                color: $white;
            }
        }
        .icons{
            a{
                color: $white;
                font-size: 1.5rem;
                margin-left: 20px;
                transition: $transition;
                &:hover{
                    color: $accents;
                }
            }
        }
    }
}
/********************************
nav
********************************/
nav{
    ul{
        @include flex(center, center, row);
        li{
            margin: 10px;
            a{
                color: $tertiary;
                font-size: 1.2rem;
                transition: $transition;
                &:hover{
                    color: $secondary;
                }
            }
        }
    }
}
/********************************
header
********************************/
header{
    background-image: url(../img/header.jpg);
    @include bgImg(center, cover, 80vh);
    @include flex(center, center, row);
    .box{
        background: rgba($secondary,.7);
        text-align: center;
        padding: 20px;
        border: 2px solid $white;
        h1{
            color: $white;
            font-size: 2.5rem;
        }
        h4{
            margin-bottom: 20px;
            color: $white;
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            font-weight: 300;
        }
        button{
            @include btn;
        }
    }
}
/********************************
about
********************************/
.about{
    background:linear-gradient(rgba($tertiary,.7),rgba($secondary.7)),url(../img/onama.jpg);
    @include bgImg(center bottom, cover, 60vh);
    .container{
        @include flex(center, center, column);
        height: 60vh;
        text-align: center;
        h2{
            color: $white;
            font-size: 3rem;
            text-shadow: $textShadow;
        }
        p{
            margin-top: 20px;
            color: $white;
            text-shadow: $textShadow;
        }
    }
}
/********************************
Izdvojeno
********************************/
.izdvojeno{
    display: flex;
}