@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
/********************************
Mixins
********************************/
/********************************
Basic style
********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

/********************************
topBar
********************************/
.topBar {
  background: #2c3e50;
  padding: 5px 0;
}

.topBar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topBar .container .logo {
  font-size: 2rem;
  color: #f1c40f;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.topBar .container .logo:hover {
  color: #fff;
}

.topBar .container .icons a {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.topBar .container .icons a:hover {
  color: #f1c40f;
}

/********************************
nav
********************************/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: #4a9375;
  font-size: 1.2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #27ae60;
}

/********************************
header
********************************/
header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .box {
  background: rgba(39, 174, 96, 0.7);
  text-align: center;
  padding: 20px;
  border: 2px solid #fff;
}

header .box h1 {
  color: #fff;
  font-size: 2.5rem;
}

header .box h4 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: 300;
}

header .box button {
  background: #f1c40f;
  border: none;
  color: #2c3e50;
  text-transform: uppercase;
  padding: 15px 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .box button:hover {
  cursor: pointer;
  background: #2c3e50;
  color: #fff;
}

/********************************
about
********************************/
.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 147, 117, 0.7)), to(rgba(39, 174, 96, 0.7))), url(../img/onama.jpg);
  background: linear-gradient(rgba(74, 147, 117, 0.7), rgba(39, 174, 96, 0.7)), url(../img/onama.jpg);
  background-position: bottom;
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60vh;
  text-align: center;
}

.about .container h2 {
  color: #fff;
  font-size: 2rem;
}

.about .container p {
  margin-top: 20px;
  color: #fff;
}
.izdvojeno{
  display: flex;
}
.izdvojeno article{
  flex: 1;
  background: linear-gradient(to right, #f1c40f,#e9ecef);
}
.izdvojeno article img{
  width: 100%;
  /*display:block;*/
}

.izdvojeno article .text{
  background-color: #2c3e50;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.izdvojeno article:nth-child(even) .text{
  background: #4a9375;
}
/********************************
Benefiti
********************************/
.benefiti{
  display: flex;
  flex-wrap: wrap;
}
.benefiti article{
  flex: 0 0 50%;
  height: 50vh;
}
.benefiti article h3{
  font-size: 2rem;
  font-style: italic;
  background: #f1c40f;
 
}
.benefiti article p{
  text-align: justify;
  margin-top: 20px;
}
.benefiti article:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.benefiti article:nth-child(1) h3{
  padding: 10px 70px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.benefiti article:nth-child(4) h3{
  padding: 10px 80px;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.benefiti article:nth-child(4){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.benefiti article:nth-child(2){
  background-image: url(../img/benefiti1.jpg);
  background-position: center;
  background-size: cover;
}
.benefiti article:nth-child(3){
  background-image: url(../img/benefiti2.jpg);
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */